<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Fruit</title>
    <link rel="stylesheet" href="/styles/admin.css">
</head>
<body>
    <div class="container">
        <a href="/admin" class="back-button" >Back to Dashboard</a>
        <h1>Edit fruits</h1>
        
        <div class="fruit-list">
            <% locals.fruits.forEach(function(fruit) { %>
                <div class="fruit">
                    <div class="fruit-info">
                        <div class="fruit-name"><%= fruit.name %></div>
                        <div class="fruit-price">#: <%= fruit.color %></div>
                    </div>
                    <button class="edit-fruit-button" onclick="window.location.href='/admin/edit/<%= fruit.name %>'">Edit</button>
                </div>
            <% }); %>
        </div>
        
        <a href="/admin" class="back-button">Back to Dashboard</a>
    </div>
</body>
</html>