<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove fruit</title>
    <link rel="stylesheet" href="/styles/admin.css">
</head>
<body>
    <div class="container">
        <a href="/admin" class="back-button">Back to Dashboard</a>
        <h1>Remove Fruits</h1>
        <div class="fruit-list">
            <% locals.fruits.forEach(function(fruit) { %>
                <div class="fruit">
                    <div class="fruit-info">
                        <div class="fruit-name"><%= fruit.name %></div>
                        <div class="fruit-price">#: <%= fruit.color %></div>
                    </div>
                    <button class="remove-fruit-button" onclick="confirmDelete('<%= fruit.name %>')">Remove</button>
                </div>
            <% }); %>
            <a href="/admin" class="back-button">Back to Dashboard</a>
        </div>
        
    </div>

    <div id="confirmModal" class="confirm-modal">
        <div class="modal-content">
            <h2>Confirm Delete</h2>
            <p>Are you sure you want to remove this Fruit? This action cannot be undone.</p>
            <div class="modal-buttons">
                <button class="cancel-button" onclick="closeModal()">Cancel</button>
                <button class="confirm-button" id="confirmDelete">Delete</button>
            </div>
        </div>
    </div>

    <script>
        function confirmDelete(fruit_name) {
            document.getElementById('confirmModal').style.display = 'block';
            document.getElementById('confirmDelete').onclick = function() {
                window.location.href = '/admin/remove/' + fruit_name + '/confirm';
            };
        }

        function closeModal() {
            document.getElementById('confirmModal').style.display = 'none';
        }
    </script>
</body>
</html>