<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/styles/admin.css">
</head>

<% const user_login = locals.user %>

<body>
    <div class="container">
        
        <h1>
            Welcome : <%= user_login  %>
            <br>
            <br>
            Admin Dashboard
        </h1>
        <div class="admin-button-container">
            <button class="admin-button add-button" onclick="window.location.href='/admin/add'">Add</button>
            <button class="admin-button edit-button" onclick="window.location.href='/admin/edit'">Edit</button>
            <button class="admin-button remove-button" onclick="window.location.href='/admin/remove'">Remove</button>
        </div>
    </div>

    <%- include('../partials/footer.ejs', { user: user_login ,permission: locals.permission}); %>
</body>
</html>