<head>
  <link rel="stylesheet" href="/styles/main.css">
</head>

</main>
<footer>Phantharat Tareram <%= new Date().getFullYear() %>
  <div class="bottom-button-container">
    <% if (locals.permission == true){ %>
      <form action="/admin" method="get">
        <button class="bottom-button">Admin</button>
      </form>
      <% } %>

      <form action="/" method="get">
          <button class="bottom-button">Home</button>
        </form>

      <form action="/scoreboard" method="get">
        <button class="bottom-button">Scoreboard</button>
      </form>

    <% if (locals.user !== "") { %>
      <form action="/logout" method="get">
        <button class="bottom-button">Logout</button>
      </form>

    <% } else { %>
      <form action="/login" method="get">
        <button class="bottom-button">Login</button>
      </form>
    <% } %>
  
  </div>
</footer>
