<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fruit Quiz</title>
  <link rel="stylesheet" href="/styles/add.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">
    <h1>Login Page</h1>
    <div class="card">
      <form action="/login" method="post">
        <div class="form-group">
          <label for="Name">Username:</label>
          <input type="text" id="Name" name="username" placeholder="Enter Username" required>
        </div>
        <div class="form-group">
          <label for="Password">Password:</label>
          <input type="text" id="Password" name="password" placeholder="Enter Password" required>
        </div>
        <% if (locals.error) { %>
          <div class="error-message"> <%= locals.error %></div>
        <% } %>
        <button type="submit">Login</button>
      </form>
      <p style="text-align: center; margin-top: 20px;">Don't have an account? <a href="/register">Register</a></p>
    </div>
    <form action="/" method="get">
      <button type="submit" >Back to Quiz</button>
    </form>
  </div>
</body>

</html>